In [ ]:
#!/usr/bin/env python
#coding: utf-8

# Import libraries

#!pip install kaggle

import kaggle

In [1]:
# Download Dataset using Kaggle API

!kaggle datasets download techwithqasim/retail-orders-data -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/techwithqasim/retail-orders-data
License(s): MIT
Downloading orders.csv to C:\Users\muham\OneDrive\Desktop\kaggle-etl-using-python-pandas-sql

  0%|          | 0.00/1.29M [00:00<?, ?B/s]
 78%|#######7  | 1.00M/1.29M [00:01<00:00, 767kB/s]
100%|##########| 1.29M/1.29M [00:01<00:00, 939kB/s]

In [ ]:
# to upgrade kaggle package if error
#!pip install kaggle --upgrade

In [ ]:
# If zip file Remove Comment Quotaion and run command to Extract file

'''
import zipfile
zip_ref = zipfile.ZipFile('./orders.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file
'''

In [2]:
# Read data from the file and handle null values

import pandas as pd
df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [3]:
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [4]:
# Rename columns names .. make them lower case and replace space with underscore

df.rename(columns={'Order Id':'order_id', 'City':'city'})

df.columns = df.columns.str.lower()

df.columns = df.columns.str.replace(' ','_')

In [5]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [6]:
# Derive 3 new columns discount, sale price and profit

df['discount'] = df['list_price'] * df['discount_percent'] * .01

df['sale_price'] = df['list_price'] - df['discount']

df['profit'] = df['sale_price'] - df['cost_price']

df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,9986,2023-09-30,Standard Class,Consumer,United States,Long Beach,New York,11561,East,Office Supplies,Supplies,OFF-SU-10000898,50,60,4,3,1.8,58.2,8.2
9986,9987,2022-11-30,Standard Class,Consumer,United States,Los Angeles,California,90008,West,Technology,Accessories,TEC-AC-10003399,40,40,1,5,2.0,38.0,-2.0
9987,9988,2023-04-01,Standard Class,Corporate,United States,Athens,Georgia,30605,South,Technology,Accessories,TEC-AC-10001539,80,80,1,3,2.4,77.6,-2.4
9988,9989,2022-11-17,Standard Class,Corporate,United States,Athens,Georgia,30605,South,Technology,Phones,TEC-PH-10004006,180,210,5,5,10.5,199.5,19.5
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9990 entries, 0 to 9989
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          9990 non-null   int64
 1   order_date        9990 non-null   object
 2   ship_mode         9984 non-null   object
 3   segment           9990 non-null   object
 4   country           9990 non-null   object
 5   city              9990 non-null   object
 6   state             9990 non-null   object
 7   postal_code       9990 non-null   int64
 8   region            9990 non-null   object
 9   category          9990 non-null   object
 10  sub_category      9990 non-null   object
 11  product_id        9990 non-null   object
 12  cost_price        9990 non-null   int64
 13  list_price        9990 non-null   int64
 14  quantity          9990 non-null   int64
 15  discount_percent  9990 non-null   int64
 16  discount          9990 non-null   float64
 17  sale_price        9990 non-null   float64
 18  profit            9990 non-null   float64
dtypes: float64(3), int64(6), object(10)
memory usage: 1.4+ MB

In [8]:
# Convert order date from object data type to datetime

df['order_date'] = pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [9]:
# Drop columns cost price, list price and discount percent

df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

In [10]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,9986,2023-09-30,Standard Class,Consumer,United States,Long Beach,New York,11561,East,Office Supplies,Supplies,OFF-SU-10000898,4,1.8,58.2,8.2
9986,9987,2022-11-30,Standard Class,Consumer,United States,Los Angeles,California,90008,West,Technology,Accessories,TEC-AC-10003399,1,2.0,38.0,-2.0
9987,9988,2023-04-01,Standard Class,Corporate,United States,Athens,Georgia,30605,South,Technology,Accessories,TEC-AC-10001539,1,2.4,77.6,-2.4
9988,9989,2022-11-17,Standard Class,Corporate,United States,Athens,Georgia,30605,South,Technology,Phones,TEC-PH-10004006,5,10.5,199.5,19.5
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2

In [11]:
# Load the data into sql server

import sqlalchemy as sal
engine = sal.create_engine('mssql://MAERON-7K/EDA?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn = engine.connect()

In [12]:
# Load the data into sql server using replace option if table with same name exists

df.to_sql('df_orders', con=conn , index=False, if_exists = 'replace')

34

In [13]:
# Load the data into sql server using append option

df.to_sql('df_orders', con= conn , index=False, if_exists = 'append')

34